<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 id="titlenew">Create a Chill</h1>
      <%= simple_form_for (@chill) do |f| %>
      <div class="new-form-inputs">
        <%= f.input :title, placeholder: "Large Garden Pool" %>
        <%= f.input :location, placeholder: "282 Kevin Brook, Imogeneborough, CA 58517" %>
        <%= f.input :capacity, collection: 1..50 %>
        <%= f.input :price_per_hour, placeholder: "10" %>
        <%= f.input :available, collection: [[true, true], [false, false]] %>
        <%= f.input :description, placeholder: "Come chill and barbeque..."%>
        <%= f.input :category, collection: ['pool', 'tub', 'hose', 'sprinkler', 'inflatable pool', 'other'] %>
      </div>
      <div class="new-form-actions">
        <%= f.button :submit,"Create Chill"%>
      </div>
      <% end  %>
    </div>
  </div>
</div>
