<div class="show-wrapper">

  <a href="#"><i class="fa fa-heart"></i></a>

  <img class="show-photo" src="https://www.rd.com/wp-content/uploads/2018/05/shutterstock_254911351-760x506.jpg" alt="">

  <div class="show-content">
    <div class="show-title">
      <h4><%= @chill.title%></h4>
      <p><%= @chill.price_per_hour %>€</p>
    </div>
    <p id= "show-description"><%= @chill.description %></p>

    <div class="show-location">
      <a href="#"><i class="fa fa-map-marker-alt"></i> Location</a>
      <p><%= @chill.location %></p>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@chill.location}&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    </div>



    <%=link_to "Get this chill", new_chill_booking_path(@chill), class: "btn btn-block" %>


  </div>
</div>
