<div class="show-wrapper">

  <a href="#"><i class="fa fa-heart"></i></a>

<!--   <img class="show-photo" src="https://api.adorable.io/avatars/150/#{@chill.name}@adorable.io.png" alt="">
 -->  <%= cl_image_tag @chill.photo, class:"show-photo" %>
 <div class="avatar-chill">
   <% if @chill.user.photo? %>
   <% image_options = { height: 50, width: 50, crop: :fill } %>
   <%= cl_image_tag @chill.user.photo, image_options %>
   <% else %>
   <%= image_tag "https://api.adorable.io/avatars/150/#{@chill.user.name.slice(0,4)}@adorable.io.png", class:"card-avatar" %>
   <% end %>
 </div>


  <div class="show-content">
    <div class="show-title">
      <h4><%= @chill.title%></h4>
      <p><%= @chill.price_per_hour %>€</p>
    </div>
    <p id= "show-description"><%= @chill.description %></p>

    <div class="show-location">
      <a href="#"><i class="fa fa-map-marker-alt"></i> Location</a>
      <p><%= @chill.location %></p>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@chill.location}&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    </div>


    <% if @user != current_user %>
      <%=link_to "Get this chill", new_chill_booking_path(@chill), class: "btn btn-block" %>
    <% end %>
  </div>
</div>
