<div class="show-wrapper">

  <a href="#"><i class="fa fa-heart"></i></a>

  <img class="show-photo" src="https://www.rd.com/wp-content/uploads/2018/05/shutterstock_254911351-760x506.jpg" alt="">

  <div class="show-content">
    <div class="show-title">
      <h2><%= @chill.title%></h2>
      <h3><%= @chill.price_per_hour %> €</h3>
    </div>
    <p id= "show-description"><%= @chill.description %></p>


    <div class="show-location">
      <a href="#"><i class="fa fa-map-marker-alt"></i>Location</a>
      <p><%= @chill.location %></p>
    </div>

    <a href="#" class="btn-medium">Book</a>

  </div>
</div>


<!-- <div class="show container">
  <div class="item-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dzgzzkmjz/image/upload/c_fill/v1533745676/iwaixlpuun9fnkcetjys.jpg);">
  </div>

  <div class="show-summary">
    <h2>Surfboard</h2>
    <div class="location-price">
      <p>Guincho</p>
      <p>€ 15 per day</p>
    </div>
  </div>

  <p>A colorful longboard, perfect for a nice summer surf. </p>
  <div class="booking-box">
        <button type="button" class="btn btn-primary">Book</button>
  </div>
</div> -->

<!-- new card attempt -->

    <!-- <div class="card-categoryshow">Popular</div>
    <div class="card-descriptionshow">
      <h2><%= @chill.title %></h2>
      <p><%= @chill.description %></p>
    </div>
  </div>
</div> -->

