
<div class="container" id="cards_index"
  <div class="row">
    <% @chills.each do |chill| %>
      <%= link_to chill_path(chill) do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://source.unsplash.com/random');">
              <div class="card-category"><%= chill.user.name %></div>
              <div class="card-description">
                <i class="fas fa-map-marker-alt"></i> <%=chill.location%>
                <p><%= chill.description %></p>
              </div>
              <div class="image-cropper">
                <% if chill.user.photo? %>
                <% image_options = { height: 50, width: 50, crop: :fill } %>
                <%= cl_image_tag chill.user.photo, image_options %>
                <% else %>
                <%= image_tag "https://api.adorable.io/avatars/150/#{chill.user.name.slice(0,4)}@adorable.io.png", class:"card-avatar" %>
                <% end %>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
   </div>
</div>
